.App {
  text-align: center;
  padding: 32px;
}

.Section-Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
}

.Statistics-Container {
  display: flex;
  justify-content: space-between;
}

.Statistics-Card {
  flex: 1 1 0px;
}

.Statistics-Card-Space {
  margin-right: 16px;
}

.Geo-Container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.Toaster-Container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Toaster-Row-Container {
  display: flex;
  justify-content: space-between;
}

.Trends-Container {
  margin-top: 16px;
  height: 300px;
}

.Trends-Card {
  height: 100%;
}

.Footer-Container {
  margin-top: 16px;
}

.Footer-Container .Statistics-Card {
  padding: 8px;
}
